/com
/grails
/org
/ApplicationResources$_run_closure1_closure3.class
/ApplicationResources$_run_closure1_closure4.class
/ApplicationResources$_run_closure1_closure5.class
/ApplicationResources$_run_closure1_closure6.class
