/Role$__clinit__closure1.class
/Role$__clinit__closure2.class
/Role.class
/User$__clinit__closure2.class
/User$__clinit__closure3.class
/User$_getAuthorities_closure1.class
/User.class
/UserRole$__clinit__closure1.class
/UserRole.class
